GRAPHXY.json
[{"id":"b4e71472.7cb4d8","type":"tab","label":"GraphXY","disabled":false,"info":""},{"id":"e96c7d25.6ab15","type":"file in","z":"b4e71472.7cb4d8","name":"Read","filename":"test6.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":590,"y":540,"wires":[["48ced136.ee87"]]},{"id":"48ced136.ee87","type":"csv","z":"b4e71472.7cb4d8","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":750,"y":540,"wires":[["dd8cf6f8.7e8758"]]},{"id":"dd8cf6f8.7e8758","type":"function","z":"b4e71472.7cb4d8","name":"Format JSON","func":"var now = ( new Date() ).getTime();\nvar nbd = flow.get('nbd')||'';\nif (nbd < 1) { nbd = 1}\n\nvar yesterday = new Date();\nyesterday.setDate(yesterday.getDate() -nbd);\nvar x,y,r;\n\n\nvar date = new Date (msg.payload.Time);\n\nif (date > yesterday) {\n\n\n\nmsg.payload = {\n    tstamp: date.getTime(),\n    y: msg.payload.RSSI,\n    x: msg.payload.Elevation,\n    r: 3,\n    sat : msg.payload.sat\n    };\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":540,"wires":[["f69f5e20.0d963"]]},{"id":"65fd8ee3.434b7","type":"file in","z":"b4e71472.7cb4d8","name":"Read","filename":"dkt2.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":590,"y":380,"wires":[["a5281fc7.5f95c"]]},{"id":"a5281fc7.5f95c","type":"csv","z":"b4e71472.7cb4d8","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":750,"y":380,"wires":[["7775116f.ca4b"]]},{"id":"7775116f.ca4b","type":"function","z":"b4e71472.7cb4d8","name":"Format JSON","func":"var now = ( new Date() ).getTime();\nvar nbd = flow.get('nbd')||'';\nif (nbd < 1) { nbd = 1}\n\nvar yesterday = new Date();\nyesterday.setDate(yesterday.getDate() -nbd);\nvar x,y,r;\n\n\nvar date = new Date (msg.payload.Time);\n\nif (date > yesterday) {\nmsg.payload = {\n    tstamp: date.getTime(),\n    y: msg.payload.RSSI,\n    x: msg.payload.Elevation,\n    r: 3,\n    sat : msg.payload.sat\n    };\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":380,"wires":[["f69f5e20.0d963"]]},{"id":"206ed117.c77a4e","type":"file in","z":"b4e71472.7cb4d8","name":"Read","filename":"test.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":590,"y":500,"wires":[["8f0095f3.d36f08"]]},{"id":"8f0095f3.d36f08","type":"csv","z":"b4e71472.7cb4d8","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":750,"y":500,"wires":[["c0e59edf.5635b"]]},{"id":"c0e59edf.5635b","type":"function","z":"b4e71472.7cb4d8","name":"Format JSON","func":"var now = ( new Date() ).getTime();\nvar nbd = flow.get('nbd')||'';\nif (nbd < 1) { nbd = 1}\n\nvar yesterday = new Date();\nyesterday.setDate(yesterday.getDate() -nbd);\nvar x,y,r;\n\n\nvar date = new Date (msg.payload.Time);\n\nif (date > yesterday) {\n\n\n\nmsg.payload = {\n    tstamp: date.getTime(),\n    y: msg.payload.RSSI,\n    x: msg.payload.Elevation,\n    r: 3,\n    sat : msg.payload.sat\n    };\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":500,"wires":[["f69f5e20.0d963"]]},{"id":"b002c36.8d10f4","type":"file in","z":"b4e71472.7cb4d8","name":"Read","filename":"dkt.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":590,"y":340,"wires":[["b03e2293.8753a"]]},{"id":"b03e2293.8753a","type":"csv","z":"b4e71472.7cb4d8","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":750,"y":340,"wires":[["93b11251.8ad17"]]},{"id":"93b11251.8ad17","type":"function","z":"b4e71472.7cb4d8","name":"Format JSON","func":"var now = ( new Date() ).getTime();\nvar nbd = flow.get('nbd')||'';\nif (nbd < 1) { nbd = 1}\n\nvar yesterday = new Date();\nyesterday.setDate(yesterday.getDate() -nbd);\nvar x,y,r;\n\n\nvar date = new Date (msg.payload.Time);\n\nif (date > yesterday) {\nmsg.payload = {\n    tstamp: date.getTime(),\n    y: msg.payload.RSSI,\n    x: msg.payload.Elevation,\n    r: 3,\n    sat : msg.payload.sat\n    };\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":340,"wires":[["f69f5e20.0d963"]]},{"id":"340a6a90.771e06","type":"file in","z":"b4e71472.7cb4d8","name":"Read","filename":"dkp.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":590,"y":420,"wires":[["3cd0602e.fe64b"]]},{"id":"3cd0602e.fe64b","type":"csv","z":"b4e71472.7cb4d8","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":750,"y":420,"wires":[["46f6fc9d.12edb4"]]},{"id":"46f6fc9d.12edb4","type":"function","z":"b4e71472.7cb4d8","name":"Format JSON","func":"var now = ( new Date() ).getTime();\nvar nbd = flow.get('nbd')||'';\nif (nbd < 1) { nbd = 1}\n\nvar yesterday = new Date();\nyesterday.setDate(yesterday.getDate() -nbd);\nvar x,y,r;\n\n\nvar date = new Date (msg.payload.Time);\n\nif (date > yesterday) {\nmsg.payload = {\n    tstamp: date.getTime(),\n    y: msg.payload.RSSI,\n    x: msg.payload.Elevation,\n    r: 3,\n    sat : msg.payload.sat\n    };\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":420,"wires":[["f69f5e20.0d963"]]},{"id":"aa889b9a.26fba8","type":"file in","z":"b4e71472.7cb4d8","name":"Read","filename":"dka.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":590,"y":300,"wires":[["aca476e1.c901b8"]]},{"id":"aca476e1.c901b8","type":"csv","z":"b4e71472.7cb4d8","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":750,"y":300,"wires":[["6bd3a0dc.92c99"]]},{"id":"6bd3a0dc.92c99","type":"function","z":"b4e71472.7cb4d8","name":"Format JSON","func":"var now = ( new Date() ).getTime();\nvar nbd = flow.get('nbd')||'';\nif (nbd < 1) { nbd = 1}\n\nvar yesterday = new Date();\nyesterday.setDate(yesterday.getDate() -nbd);\nvar x,y,r;\n\n\nvar date = new Date (msg.payload.Time);\n\nif (date > yesterday) {\nmsg.payload = {\n    tstamp: date.getTime(),\n    y: msg.payload.RSSI,\n    x: msg.payload.Elevation,\n    r: 3,\n    sat : msg.payload.sat\n    };\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":300,"wires":[["f69f5e20.0d963"]]},{"id":"534d4915.571608","type":"file in","z":"b4e71472.7cb4d8","name":"Read","filename":"dkp2.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":590,"y":580,"wires":[["cda3bb36.adf378"]]},{"id":"cda3bb36.adf378","type":"csv","z":"b4e71472.7cb4d8","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":750,"y":580,"wires":[["585e298e.08cba8"]]},{"id":"585e298e.08cba8","type":"function","z":"b4e71472.7cb4d8","name":"Format JSON","func":"var now = ( new Date() ).getTime();\nvar nbd = flow.get('nbd')||'';\nif (nbd < 1) { nbd = 1}\n\nvar yesterday = new Date();\nyesterday.setDate(yesterday.getDate() -nbd);\nvar x,y,r;\n\n\nvar date = new Date (msg.payload.Time);\n\nif (date > yesterday) {\nmsg.payload = {\n    tstamp: date.getTime(),\n    y: msg.payload.RSSI,\n    x: msg.payload.Elevation,\n    r: 3,\n    sat : msg.payload.sat\n    };\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":580,"wires":[["f69f5e20.0d963"]]},{"id":"f69f5e20.0d963","type":"function","z":"b4e71472.7cb4d8","name":"Build two datasets","func":"\n// this is where you define the legend for \n// the datasets\nvar title = \"Lacuna received packet\";\nvar legend1 = \"ls2D\";\nvar legend2 = \"ls1\";\n\n// variables to be used to \nvar i, data1, data2;\nvar x = msg.payload.x;\nvar y = msg.payload.y;\nvar r = msg.payload.r;\n\n// initialise the counter to 0 if it doesn't exist already\nvar data1 = flow.get('data1')||'';\nvar data2 = flow.get('data2')||'';\n\n\nif (msg.payload.sat == '2') {\n\ndata1 += \"{x: \"+x+\", y: \"+y+\", r: \"+r+\"},\";\n// this line removes the last comma to end the dataset\n}\ndata1 = data1.replace(/^(.*),(.*?)$/, '$1')\n\nif (msg.payload.sat == '1') {\n// for dataset #2\ndata2 += \"{x: \"+x+\", y: \"+y+\", r: \"+r+\"},\";\n\n// this line removes the last comma to end the dataset\n}\ndata2 = data2.replace(/^(.*),(.*?)$/, '$1')\n\n// Now we build msg.payload\nmsg.payload = { \"title\"   : title,\n                \"legend1\" : legend1,\n                \"data1\"   : data1,\n                \"legend2\" : legend2,\n                \"data2\"   : data2};\ndata1 += \",\";\ndata2 += \",\";\n\nflow.set([\"data1\", \"data2\"], [data1, data2]);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":580,"wires":[["ae0460bf.a5e378"]]},{"id":"aa011c18.69605","type":"template","z":"b4e71472.7cb4d8","name":"Create the msg.template to use","field":"template","fieldType":"msg","format":"html","syntax":"mustache","template":"<canvas id=\"bubble-chart\" width=\"1\" height=\"1\" style=\"border:1px solid #FF0000;\"></canvas>\n\n<script>\nvar linecolors = ['#FFFFFF','#889900']\nvar textcolor = getComputedStyle(document.documentElement).getPropertyValue('--nr-dashboard-widgetTextColor');\nvar gridcolor = getComputedStyle(document.documentElement).getPropertyValue('--nr-dashboard-groupBorderColor');\n\n\nnew Chart(document.getElementById(\"bubble-chart\"), {\n    type: 'bubble',\n    data: {\n      labels: \"label\",\n      datasets: [\n        {\n          label: \"{{{payload.legend1}}}\",\n          backgroundColor: \"rgba(255, 0, 255, 1.0000)\",\n          borderColor: \"#000\",\n          data: [\n            {{{payload.data1}}}\n\n          ]\n        }, {\n          label: [\"{{{payload.legend2}}}\"], \n          backgroundColor: \"rgba(0, 255, 255, 1.0000)\",\n          borderColor: \"#000\",\n          data: [\n              {{{payload.data2}}}\n\t\t  ]\n        }\n      ]\n    },\n    options: {\n        animation: false,\n        legend: {\n            display: true,\n            labels: {\n                fontColor: 'rgb(255, 255, 255)'\n            }\n        },\n        title: {\n        display: true,\n        fontColor: 'rgb(255, 255, 255)',\n        text: '{{{payload.title}}}'\n      }, \n      scales: {\n        yAxes: [{ \n          scaleLabel: {\n            display: true,\n            fontColor: 'rgb(255, 255, 255)',\n            labelString: \"RSSI (dBm)\"\n          },\n          gridLines :{zeroLineColor:gridcolor,color:gridcolor,lineWidth:1},\n                    id: 'left-y-axis',\n                    type: 'linear',\n                    position: 'left',\n                    ticks: {\n                        fontColor: linecolors[0]\n                    }\n        }],\n        xAxes: [{ \n          scaleLabel: {\n            display: true,\n            fontColor: 'rgb(255, 255, 255)',\n            labelString: \"Elevation (°)\"\n          },\n          gridLines :{zeroLineColor:gridcolor,color:gridcolor,lineWidth:1},\n                    id: 'bottom-x-axis',\n                    type: 'linear',\n                    position: 'bottom',\n                    ticks: {\n                        fontColor: linecolors[0]\n                    }\n        }],\n      }\n    }\n});\n\n    \n\n\n</script>\n","output":"str","x":410,"y":660,"wires":[["4dd6c514.b67bac"]]},{"id":"4dd6c514.b67bac","type":"ui_template","z":"b4e71472.7cb4d8","group":"ed68b86d.026b2","name":"Bubble ","order":2,"width":"10","height":"10","format":"this will be ignored","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":640,"y":660,"wires":[[]]},{"id":"142dae9.49d4751","type":"ui_template","z":"b4e71472.7cb4d8","group":"3d9e45e.bcd50ba","name":"Dashboard stylesheet","order":1,"width":0,"height":0,"format":"<style>\n/*\nIt is reasnoble to declare the colors as CSS variables\nso they can be easily called by name where needed.\n\nYou can see that in many places the variables are not used. Change it!\n*/\n\n:root {\n  --color-green-primary: rgb(51, 204, 51);\n  --color-green-secondary: rgb(26, 101, 26);\n  --color-red-primary: rgb(255, 0, 0);\n  --color-red-secondary: rgba(153,0,0,1);\n  --color-gray-primary:rgba(40,40,40,1);\n  --color-gray-secondary:rgba(65,65,65,1);\n  --color-text-primary: rgb(230, 226, 209);\n  --color-widget-border: rgb(84, 78, 78);\n}\n\n/*\nAll CSS adjustments are commented out.\nTurn rules on one by one and see the changes.\nDon't use too many elements cos it wil be confusing\nStart with simple elements like text, slider or button\n\nMany of elements like buttons have states, \nthose rules must be found and adjusted also.\n*/\n\n\n.masonry-container {\n    position: relative;\n    width: 100%;\n    height:100%;\n    margin: 0 auto;\n    background: rgb(255,250,0);\n    background: linear-gradient(180deg,  var(--color-gray-primary) 0%, var(--color-gray-secondary) 100%);\n}\n\n\n\n.nr-dashboard-cardcontainer {\n    position: relative;\n    box-shadow: inset 0px 1px 4px 0px #000000bb;\n    border-radius: 15px;\n}\n\n\n\n.nr-dashboard-theme ui-card-panel {\n    background-color: #33333300;\n    color:var(--color-text-primary);\n    border-radius: 15px;\n    box-shadow: 0 0 8px 0px #00000080;\n}\n\n \nbody.nr-dashboard-theme md-content md-card {\n    background-color: #33333300;\n    color: var(--color-text-primary);\n    text-shadow: 4px 2px 4px #00000045;\n    box-shadow: 0 -1px 5px 1px #00000045;\n    border-radius: 12px;\n    border: 1px solid var(--color-widget-border);\n}\n\n\n\n/*\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: var(--color-text-primary);\n}\n*/\n\n\n/*\n.md-button {\n    display: inline-block;\n    position: relative;\n    cursor: pointer;\n    min-height: 36px;\n    min-width: 88px;\n    line-height: 36px;\n    vertical-align: middle;\n    align-items: center;\n    text-align: center;\n    border-radius: 12px;\n    box-sizing: border-box;\n    -webkit-user-select: none;\n    -moz-user-select: none;\n    -ms-user-select: none;\n    user-select: none;\n    outline: none;\n    border: 0;\n    padding: 0 6px;\n    margin: 6px 8px;\n    background: transparent;\n    color:var(--color-text-primary);\n    white-space: nowrap;\n    text-transform: uppercase;\n    font-weight: 500;\n    font-size: 14px;\n    font-style: inherit;\n    font-variant: inherit;\n    font-family: inherit;\n    text-decoration: none;\n    overflow: hidden;\n    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);\n}\n\n*/\n\n/*\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: #88888800;\n    color:var(--color-text-primary);\n}\n*/\n\n/*\n.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n    background-color: #88888855;\n}\n*/\n\n\n/*\nmd-slider .md-thumb {\n    z-index: 1;\n    position: absolute;\n    left: -10px;\n    top: 14px;\n    width: 20px;\n    height: 20px;\n    border-radius: 20px;\n    -webkit-transform: scale(.7);\n    transform: scale(.7);\n    transition: all .4s cubic-bezier(.25,.8,.25,1);\n    box-shadow: 0 0 6px #00000070;\n}\n\n*/\n\n/*\nAdvanced stuff - dynamic change of card CSS\n\nClasses here can be used to make colored stripe at the top of card\nUsage is not in here, but they are added to md-card when needed within another template\n\n.carderr {\n    background: rgb(255,0,0);\n    background: linear-gradient(180deg, var(--color-red-primary) 0px, var(--color-red-secondary) 3px, rgba(80,80,80,1) 4px, rgba(45,45,45,1) 100%);\n}\n.cardok {\n    background: rgb(39,255,0);\n    background: linear-gradient(180deg, var(--color-green-primary) 0px, var(--color-green-secondary) 3px, rgba(70,70,70,1) 4px, rgba(40,40,40,1) 100%);\n}\n*/\n\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":420,"y":700,"wires":[["4dd6c514.b67bac"]]},{"id":"fe69d028.49a91","type":"ui_button","z":"b4e71472.7cb4d8","name":"","group":"ed68b86d.026b2","order":1,"width":"4","height":"1","passthru":false,"label":"DKP2 15cm 21dBm Booster","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":580,"wires":[["c3573998.611868"]]},{"id":"27c71afa.1ca8b6","type":"debug","z":"b4e71472.7cb4d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":760,"wires":[]},{"id":"93847586.616788","type":"function","z":"b4e71472.7cb4d8","name":"init two datasets","func":"\n// this is where you define the legend for \n// the datasets\nvar title = \"dkt received packet\";\nvar legend1 = \"ls2D\";\nvar legend2 = \"ls1\";\n\n// variables to be used to \nvar i, data1, data2;\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar data1 ;\nvar data2 ;\n\nvar count =1;\ndata1 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata2 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\n\n\n// store the value back\nflow.set('count',count);\n\n//data1 += \",\";\n//data2 += \",\";\n\nflow.set([\"data1\", \"data2\"], [data1, data2]);\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":340,"wires":[["b002c36.8d10f4"]]},{"id":"413e8a3a.85c6c4","type":"ui_button","z":"b4e71472.7cb4d8","name":"","group":"ed68b86d.026b2","order":1,"width":"3","height":"1","passthru":false,"label":"DKT 5cm 17dBm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":340,"wires":[["93847586.616788"]]},{"id":"78b60f54.a07d3","type":"function","z":"b4e71472.7cb4d8","name":"init two datasets","func":"\n// this is where you define the legend for \n// the datasets\nvar title = \"dkp2 received packet\";\nvar legend1 = \"ls2D\";\nvar legend2 = \"ls1\";\n\n// variables to be used to \nvar i, data1, data2;\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar data1 ;\nvar data2 ;\n\nvar count =1;\ndata1 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata2 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\n\n\n// store the value back\nflow.set('count',count);\n\n//data1 += \",\";\n//data2 += \",\";\n\nflow.set([\"data1\", \"data2\"], [data1, data2]);\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":420,"wires":[["340a6a90.771e06"]]},{"id":"66952ebe.d4d8e","type":"ui_button","z":"b4e71472.7cb4d8","name":"","group":"ed68b86d.026b2","order":1,"width":"3","height":"1","passthru":false,"label":"DKP 15cm 17dBm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":420,"wires":[["78b60f54.a07d3"]]},{"id":"90915d1d.d4569","type":"function","z":"b4e71472.7cb4d8","name":"init two datasets","func":"\n// this is where you define the legend for \n// the datasets\nvar title = \"dka received packet\";\nvar legend1 = \"ls2D\";\nvar legend2 = \"ls1\";\n\n// variables to be used to \nvar i, data1, data2;\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar data1 ;\nvar data2 ;\n\nvar count =1;\ndata1 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata2 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\n\n\n// store the value back\nflow.set('count',count);\n\n//data1 += \",\";\n//data2 += \",\";\n\nflow.set([\"data1\", \"data2\"], [data1, data2]);\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":300,"wires":[["aa889b9a.26fba8"]]},{"id":"b1e64690.12b5c8","type":"ui_button","z":"b4e71472.7cb4d8","name":"","group":"ed68b86d.026b2","order":1,"width":"3","height":"1","passthru":false,"label":"DKA 0cm 17dBm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":300,"wires":[["90915d1d.d4569"]]},{"id":"da4fd152.3226a","type":"function","z":"b4e71472.7cb4d8","name":"init two datasets","func":"\n// this is where you define the legend for \n// the datasets\nvar title = \"dkp2 received packet\";\nvar legend1 = \"ls2D\";\nvar legend2 = \"ls1\";\n\n// variables to be used to \nvar i, data1, data2;\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar data1 ;\nvar data2 ;\n\nvar count =1;\ndata1 = '{x: 30,  y: -130,  r: 0},'; // Force the size of the\ndata2 = '{x: 30, y: -130, r: 0},'; // plot so it won't resize\n\n\n// store the value back\nflow.set('count',count);\n\n//data1 += \",\";\n//data2 += \",\";\n\nflow.set([\"data1\", \"data2\"], [data1, data2]);\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":500,"wires":[["206ed117.c77a4e"]]},{"id":"4444910e.1f063","type":"ui_button","z":"b4e71472.7cb4d8","name":"","group":"ed68b86d.026b2","order":1,"width":"3","height":"1","passthru":false,"label":"Test 15cm 21dBm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":500,"wires":[["da4fd152.3226a"]]},{"id":"c3573998.611868","type":"function","z":"b4e71472.7cb4d8","name":"init two datasets","func":"\n// this is where you define the legend for \n// the datasets\nvar title = \"dkp2 received packet\";\nvar legend1 = \"ls2D\";\nvar legend2 = \"ls1\";\n\n// variables to be used to \nvar i, data1, data2;\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar data1 ;\nvar data2 ;\n\nvar count =1;\ndata1 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata2 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\n\n\n// store the value back\nflow.set('count',count);\n\n//data1 += \",\";\n//data2 += \",\";\n\nflow.set([\"data1\", \"data2\"], [data1, data2]);\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":580,"wires":[["534d4915.571608"]]},{"id":"e817d9ab.a14328","type":"ui_numeric","z":"b4e71472.7cb4d8","name":"nbd","label":"Trace on last X days","tooltip":"","group":"ed68b86d.026b2","order":7,"width":"6","height":"1","wrap":false,"passthru":true,"topic":"nbd","format":"{{value}}","min":"1","max":"30","step":1,"x":120,"y":760,"wires":[["ec5c143.6cd82e8","27c71afa.1ca8b6"]]},{"id":"ec5c143.6cd82e8","type":"function","z":"b4e71472.7cb4d8","name":"store nbd","func":"// variables to be used to \nvar nbd = msg.payload\n\n// store the value back\nflow.set('nbd',nbd);\n\nmsg.payload = {\n    nbd: nbd\n    };\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":760,"wires":[["27c71afa.1ca8b6"]]},{"id":"52e0ddb7.5003d4","type":"function","z":"b4e71472.7cb4d8","name":"init two datasets","func":"\n// this is where you define the legend for \n// the datasets\nvar title = \"dkp2 received packet\";\nvar legend1 = \"ls2D\";\nvar legend2 = \"ls1\";\n\n// variables to be used to \nvar i, data1, data2;\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar data1 ;\nvar data2 ;\n\nvar count =1;\ndata1 = '{x: 30,  y: -130,  r: 0},'; // Force the size of the\ndata2 = '{x: 30, y: -130, r: 0},'; // plot so it won't resize\n\n\n// store the value back\nflow.set('count',count);\n\n//data1 += \",\";\n//data2 += \",\";\n\nflow.set([\"data1\", \"data2\"], [data1, data2]);\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":540,"wires":[["e96c7d25.6ab15"]]},{"id":"f77d489b.0cc668","type":"ui_button","z":"b4e71472.7cb4d8","name":"","group":"ed68b86d.026b2","order":1,"width":"3","height":"1","passthru":false,"label":"Test6 15cm 21dBm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":540,"wires":[["52e0ddb7.5003d4"]]},{"id":"bf358b3f.392038","type":"ui_button","z":"b4e71472.7cb4d8","name":"","group":"ed68b86d.026b2","order":1,"width":"3","height":"1","passthru":false,"label":"DKT2 10cm 17dBm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":380,"wires":[["330a83eb.374b8c"]]},{"id":"330a83eb.374b8c","type":"function","z":"b4e71472.7cb4d8","name":"init two datasets","func":"\n// this is where you define the legend for \n// the datasets\nvar title = \"dkt2 received packet\";\nvar legend1 = \"ls2D\";\nvar legend2 = \"ls1\";\n\n// variables to be used to \nvar i, data1, data2;\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar data1 ;\nvar data2 ;\n\nvar count =1;\ndata1 = '{x: 30,  y: -130,  r: 0},'; // Force the size of the\ndata2 = '{x: 30, y: -130, r: 0},'; // plot so it won't resize\n\n\n// store the value back\nflow.set('count',count);\n\n//data1 += \",\";\n//data2 += \",\";\n\nflow.set([\"data1\", \"data2\"], [data1, data2]);\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":380,"wires":[["65fd8ee3.434b7"]]},{"id":"b6f1eef2.811b3","type":"file in","z":"b4e71472.7cb4d8","name":"Read","filename":"dka2.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":590,"y":460,"wires":[["fd5dfdf.682be"]]},{"id":"fd5dfdf.682be","type":"csv","z":"b4e71472.7cb4d8","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":750,"y":460,"wires":[["1359ff55.e7cbd1"]]},{"id":"1359ff55.e7cbd1","type":"function","z":"b4e71472.7cb4d8","name":"Format JSON","func":"var now = ( new Date() ).getTime();\nvar nbd = flow.get('nbd')||'';\nif (nbd < 1) { nbd = 1}\n\nvar yesterday = new Date();\nyesterday.setDate(yesterday.getDate() -nbd);\nvar x,y,r;\n\n\nvar date = new Date (msg.payload.Time);\n\nif (date > yesterday) {\nmsg.payload = {\n    tstamp: date.getTime(),\n    y: msg.payload.RSSI,\n    x: msg.payload.Elevation,\n    r: 3,\n    sat : msg.payload.sat\n    };\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":460,"wires":[["f69f5e20.0d963"]]},{"id":"8073b13a.7ecc3","type":"function","z":"b4e71472.7cb4d8","name":"init two datasets","func":"\n// this is where you define the legend for \n// the datasets\nvar title = \"dkp2 received packet\";\nvar legend1 = \"ls2D\";\nvar legend2 = \"ls1\";\n\n// variables to be used to \nvar i, data1, data2;\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar data1 ;\nvar data2 ;\n\nvar count =1;\ndata1 = '{x: 30,  y: -130,  r: 1},'; // Force the size of the\ndata2 = '{x: 30, y: -130, r: 1},'; // plot so it won't resize\n\n\n// store the value back\nflow.set('count',count);\n\n//data1 += \",\";\n//data2 += \",\";\n\nflow.set([\"data1\", \"data2\"], [data1, data2]);\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":460,"wires":[["b6f1eef2.811b3"]]},{"id":"e3b9cae1.43e0a8","type":"ui_button","z":"b4e71472.7cb4d8","name":"","group":"ed68b86d.026b2","order":1,"width":"3","height":"1","passthru":false,"label":"DKA2 20cm 17dBm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":460,"wires":[["8073b13a.7ecc3"]]},{"id":"ae0460bf.a5e378","type":"trigger","z":"b4e71472.7cb4d8","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"100","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":160,"y":660,"wires":[["aa011c18.69605","142dae9.49d4751"]]},{"id":"ed68b86d.026b2","type":"ui_group","name":"Lacuna Antibes TestField","tab":"e3dac379.89ee3","order":1,"disp":false,"width":"10","collapse":false},{"id":"3d9e45e.bcd50ba","type":"ui_group","name":"Radial Gauges","tab":"e625ce36.34cf3","order":2,"disp":true,"width":"6","collapse":false},{"id":"e3dac379.89ee3","type":"ui_tab","name":"Lacuna","icon":"dashboard","disabled":false,"hidden":false},{"id":"e625ce36.34cf3","type":"ui_tab","name":"Widgets","icon":"dashboard","order":2,"disabled":false,"hidden":true}]