IOT4SPACE.json
[{"id":"e23f3520.8001b8","type":"tab","label":"IOT4SPACE","disabled":false,"info":""},{"id":"8201867a.51e708","type":"exec","z":"e23f3520.8001b8","command":"python3 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Python Program","x":620,"y":280,"wires":[["b024aaf1.74a4a8"],["b024aaf1.74a4a8"],["b024aaf1.74a4a8"]]},{"id":"1fefd339.d98ffd","type":"inject","z":"e23f3520.8001b8","name":"Fetch deta","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ls1_write.py GW_test5.txt test5.csv","payloadType":"str","x":370,"y":280,"wires":[["8201867a.51e708"]]},{"id":"b024aaf1.74a4a8","type":"debug","z":"e23f3520.8001b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":280,"wires":[]},{"id":"b8d44346.92b49","type":"inject","z":"e23f3520.8001b8","name":"Refresh list Test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":350,"y":380,"wires":[["7b6d90d1.5e86d","c35e8d30.19a09"]]},{"id":"7b6d90d1.5e86d","type":"file in","z":"e23f3520.8001b8","name":"Read Data","filename":"test5.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":590,"y":380,"wires":[["2daef4b8.315c5c"]]},{"id":"585fab38.73d314","type":"debug","z":"e23f3520.8001b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":560,"wires":[]},{"id":"f1f6659.4b78f98","type":"function","z":"e23f3520.8001b8","name":"Format JSON","func":"//var result = msg.payload.lat.replace(/[\\s()-]+/gi,'');\n\nvar color = \"#1E90FF\";\n\nif (msg.payload.RSSI > -140)\n{color = \"#00ffcc\";}\nif (msg.payload.RSSI > -133)\n{color = \"#8cff00\";}\nif (msg.payload.RSSI > -128)\n{color = \"#ffcc00\";}\nif (msg.payload.RSSI > -123)\n{color = \"#FF0000\";}\n\n\nreturn {payload: {   name: msg.payload.Time,\n                    lat: msg.payload.Latitude,\n                    lon: msg.payload.Longitude,\n                    color: \"#000000\",\n                    icon: 'fa-stop-circle',\n                    iconColor : color,\n                    elevation : parseFloat(msg.payload.Elevation).toFixed(2),\n                    Azymuth : parseFloat(msg.payload.Azymuth).toFixed(2),\n                    range : parseFloat(msg.payload.Range/1000).toFixed(1),\n                    rssi : msg.payload.RSSI\n                           }\n                 };\n                 \n  \n  ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":400,"wires":[["791e2c5d.4476f4"]]},{"id":"791e2c5d.4476f4","type":"worldmap","z":"e23f3520.8001b8","name":"Lacuna Map","lat":"43.71","lon":"7.2656","zoom":"5","layer":"Esri Dark Grey","cluster":"0","maxage":"0","usermenu":"show","layers":"show","panit":"false","hiderightclick":"false","coords":"none","path":"Worldmap","x":1125,"y":480,"wires":[]},{"id":"2daef4b8.315c5c","type":"csv","z":"e23f3520.8001b8","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":770,"y":380,"wires":[["f1f6659.4b78f98"]]},{"id":"c35e8d30.19a09","type":"function","z":"e23f3520.8001b8","name":"Format JSON","func":"//Plot my adress\n\n\n\nreturn {payload: {   name: \"Home\",\n                    lat: 43.58,\n                    lon: 7.12,\n                    icon: 'home',\n                    iconColor : \"#FF0000\",\n                    rssi : \"test\"\n                           }\n                 };\n                 \n  \n  ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":440,"wires":[["791e2c5d.4476f4"]]},{"id":"4376515b.c948c","type":"inject","z":"e23f3520.8001b8","name":"","props":[{"p":"payload.command","v":"{\"legend\":\"<b>RSSI Level</b></br><i style=\\\"background: #FF0000\\\"></i> > -123<br><i style=\\\"background: #FFcc00\\\"></i> -123> x > -128 <br><i style=\\\"background: #8cff00\\\"></i> -128> x > -133 <br><i style=\\\"background: #00ffcc\\\"></i> <-133 <br>\"}","vt":"json"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":310,"y":480,"wires":[["585fab38.73d314","791e2c5d.4476f4"]]},{"id":"f5464c53.8bc19","type":"function","z":"e23f3520.8001b8","name":"Process received TTN message","func":"//process new message which may contain the response\n//of multiple gateways which received the packet\nvar gatewaysarray = msg.metadata.gateways;\nvar logMsgs = [];\nvar time= gatewaysarray[0].time;\nvar gw_id = 0;\nvar rssi = 0;\nvar snr = [];\nvar gw_lat = [];\nvar gw_lon = [];\nvar gw_alt = [];\nvar timestamp = [];\nvar counter = 0;\n\n//for (i = 0; i < gatewaysarray.length; i++){\ni=0;\n\n\ncounter = msg.counter;\ngw_id = gatewaysarray[i].gtw_id;\nrssi= gatewaysarray[i].rssi;\nsnr[i] = gatewaysarray[i].snr;\ngw_lat[i] = gatewaysarray[i].latitude;\ngw_lon[i] = gatewaysarray[i].longitude;\ngw_alt[i] = gatewaysarray[i].altitude;\ntimestamp[i]= gatewaysarray[i].timestamp;\nlogMsgs[i]=({payload: {time: time, \n                            counter:counter,\n                           gtw_id: gw_id,\n                           rssi: rssi\n                            }\n                 });\n   //}\nreturn logMsgs;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":180,"wires":[["8c411781.ee90e8"]]},{"id":"8c411781.ee90e8","type":"csv","z":"e23f3520.8001b8","name":"To CSV","sep":"\\t","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"time,counter,gtw_id,rssi","skip":0,"strings":true,"include_empty_strings":false,"include_null_values":false,"x":660,"y":180,"wires":[["88dab3e4.32ce7","314e9dd5.c34b82"]]},{"id":"88dab3e4.32ce7","type":"file","z":"e23f3520.8001b8","name":"","filename":"GW_test5.txt","appendNewline":false,"createDir":false,"overwriteFile":"false","x":812,"y":178,"wires":[[]]},{"id":"53ee0eaf.97633","type":"ttn uplink","z":"e23f3520.8001b8","name":"Lacuna_test","app":"7f2c2bf1.26f3e4","dev_id":"test5","field":"","x":363,"y":110,"wires":[["f5464c53.8bc19"]]},{"id":"314e9dd5.c34b82","type":"debug","z":"e23f3520.8001b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":100,"wires":[]},{"id":"69727e34.74c53","type":"comment","z":"e23f3520.8001b8","name":"Congure your TTN node","info":"","x":250,"y":60,"wires":[]},{"id":"30808010.55ded","type":"comment","z":"e23f3520.8001b8","name":"Calculate coordinate with python script","info":"","x":290,"y":240,"wires":[]},{"id":"94f10846.20af28","type":"comment","z":"e23f3520.8001b8","name":"Read and plot data","info":"","x":230,"y":340,"wires":[]},{"id":"7f2c2bf1.26f3e4","type":"ttn app","appId":"ph0wn","accessKey":"ttn-account-v2.yTbE4m7S7rR7vDrRK7fEBtaL4GTN5ucffn02NT2VgC8","discovery":"discovery.thethingsnetwork.org:1900"}]